# Node & Vendor
/node_modules
/vendor

# Environment files
/.env
/.env.*
!.env.example

# Laravel specific
/public/storage
/public/hot
/public/build

# Storage (cache, logs, sessions, etc.)
/storage/*.key
/storage/debugbar
/storage/pail
/storage/logs/*
/storage/framework/*
/storage/app/*
/storage/*.log
/.phpunit.cache
.phpunit.result.cache

# IDEs & Editors
/.idea
/.vscode
/.fleet
/.zed
/.nova

# Homestead & local config
Homestead.yaml
Homestead.json
auth.json

# Cache and temporary files
npm-debug.log
yarn-error.log
.phpactor.json

# Database dump
*.sql